@import "~@/style/base.less";
.menu {
    float: left;
    z-index: 100;
    height: 100%;
    transition: width .3s;
    &-logo {
        height: @topHeight;
        line-height: @topHeight;
        background: @navigateBackgroundColor;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
    }
    &-uncollapsed {
        height: calc(100% - @topHeight);
        overflow-y: scroll;
        overflow-x: hidden;
        transition: width .3s;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &-collapsed {
        height: calc(100% - @topHeight);
        background: #495060;
        width: @collapsedWidth;
        transition: width .3s;
    }
}

.top {
    height: 90px;
    width: 100%;
    transition: padding-left .3s;
    &-breadcrumb {
        display: inline-block;
        margin-left: 10px;
        line-height: 50px;
    }

}

.content {
    transition: padding .3s;
    width: 100%;
    height: calc(100% - 100px);
    background: #f0f0f0;
}
