@import "~@/style/base.less";
.main0 {
    height: 100%;
    display: flex;
    flex-direction: row;
    &-left {
        z-index: 100;
        height: 100%;
        transition: width .3s;
        &-logo {
            height: @topHeight;
            line-height: @topHeight;
            background: @navigateBackgroundColor;
            color: #ffffff;
            font-size: 20px;
            text-align: center;
        }
        &-uncollapsed {
            height: ~"calc(100% - @{topHeight})";
        }
        &-collapsed {
            height: calc(100% - @topHeight);
            background: #495060;
            width: @collapsedWidth;
        }
    }
    &-right {
        width: 100%;
        &-top {
            &-menu {
                &-breadcrumb {
                    display: inline-block;
                    margin-left: 10px;
                    line-height: 50px;
                }
                &-user {
                    float:right;
                    line-height: 50px;
                    margin-right: 15px;
                }
                &-tool {
                    display:inline-block;
                    float:right;
                    height: 50px;
                }
            }
        }
    }
}

